.navbar {
	background-color:#E6C767 !important;
}

.nav-link, .navbar-brand {
	color: #ffffff;
}

.nav-link:hover {
	Color: #000000;
}

body {
	font-family: Tahoma, sans-serif;
	font-size: 16px;
	min-height: 100vh;
	background-color: #080829;
}

Header {
	background-color: #000B58;	
	color: #ffffff;
	padding: 15px;
}

h1 {
	font-family: Georgia, serif;
}

#middle {
	color:#FFFFFF;
	text-align: center;
}

.foot {
	background-color: #D7D3BF;
	color: #000000;
}

nav {
	background-color: #000000;
	color: #faf7ec;
	font-weight: bold;
	font-size: 20px;
	padding: 10px;
}

footer {
	background-color: #1c2833;
	font-size: .9em;
	font-style: Italic;
	color: white;
	margin-top:auto;
	padding: 10px;
}

/* table styling */
Table,th,td {
	border: 1px solid #cccccc;
	border-spacing: 0;
}

table {
	width: 100%;
}

tr {
	color:#FFFFFF;
}

th {
	font-family: Georgia, Serif;
	background-color: #E6C767;
}

td, th {
	padding: 10px;
}

.tblpic {
	width: 200px;
	height: auto;
}

/* pricings */

* {
	box-sizing: border-box;
  }

.columns {
	float: left;
	width: 33.3%;
	padding: 8px;
  }
  
  .price {
	list-style-type: none;
	border: 1px solid #000000;
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
  }
  
  .price:hover {
	box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  .price .header {
	background-color: #111;
	color: white;
	font-size: 25px;
  }
  
  .price li {
	border-bottom: 1px solid #000000;
	padding: 20px;
	text-align: center;
  }
  
  .price .grey {
	background-color: #eee;
	font-size: 20px;
  }
  
  .button {
	background-color: #04AA6D;
	border: none;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
  }

  #svgpic {
	width: 250px;
	height: auto;
}
  
  @media only screen and (max-width: 600px) {
	.columns {
	  width: 100%;
	}